.artist {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 80px;
    padding: 4px;
    margin: 0.5em 1.0em;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.artist-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border: 1px solid rgb(0, 0, 0, 30%);
    align-self: flex-start;
  }

  .artist-name {
    margin-right: 16px;
    flex-grow: 3;
  }