html {
  background-color: #2E2E2E;
  padding-bottom: 48px;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

.App {
  width: 100vw;
  max-width: 960px;
  margin: auto;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  /* overflow: hidden; */
}