html {
  background-color: #2E2E2E;
  background-image: url("./resources/what-the-hex-dark.png");
  background-repeat: repeat;
}

body {
  background-color: rgb(25, 25, 25);
  max-width: 960px;
  margin: 0 auto;
}

.App {
  width: 100vw;
  height: 100vh;
  max-width: 960px;
  margin: auto;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
