:root {
    --color-primary: #FFC608;
    --color-secondary: #FFFFFF;
    --color-background-primary: #2e2e2e;
    --color-background-secondary: #252525;
}

html {
    background-color: #2E2E2E;
}

body {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.App {
    width: 100%;
    max-width: 960px;
    font-family: 'Rubik', sans-serif;
    height: 100%;
}