# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
/client/n.pnp
/client/n.pnp.js

# testing
/client/ncoverage

# production
/client/n/build

# misc
/client/n.DS_Store
/client/n.env.local
/client/n.env.development.local
/client/n.env.test.local
/client/n.env.production.local

/client/nnpm-debug.log*

/client/node_modules


# SERVER FILES
server/node_modules
server/process.env