.navbar {
    margin: 8px auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar .logo {
    margin: 0 0 0 32px;
    padding: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    align-items: center;
    margin-right: 16px;
    list-style-type: none;
}

.navbar .link {
    margin: 0 4px;
    padding: 14px 0px;
    width: 60px;
    color: white;
    font-size: 14px;
    font-weight: lighter;
}

.navbar .link:hover {
    color: #960f47;
    text-decoration: none;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.25s;
}