.Navbar {
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar__Logo {
    margin-left: 16px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.Navbar__Links {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Navbar__Link, .Navbar__Link:visited {
    padding: 14px 0px;
    width: 60px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    opacity: 50%;
}

.Navbar__Link:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    transition: 0.5s;
}

.Navbar__Link--active {
    opacity: 100%;
}