.Navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Navbar__Logo, .Navbar__Logo:visited {
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 0 10px;
}

.Navbar__Links {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.Navbar__Link, .Navbar__Link:visited {
    padding: 14px 8px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.Navbar__Link:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    transition: 0.5s;
}

.Navbar__Link--active {
    opacity: 100%;
}

.Navbar__Menu__Toggle {
    display: none;
    color: white;
    margin: 0 10px;
}

/* desktop */
@media only screen and (min-width: 1200px) {}

/* tablet landscape */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
    
}

/* tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 899px) {
    
}

/* phone screen */
@media only screen and (max-width: 599px) {

    

}