.SearchBar {
    margin: 16px;
    padding: 8px 12px;
    display: grid;
    grid-template-columns: 28px 1fr;
    align-items: center;
    background-color: #252525;
    border: 1px solid black;
    border-radius: 4px;
    transition: outline 0.5s;
}

.SearchBar:focus,
.SearchBar:hover {
    outline: 1px solid white;
    transition: outline 0.5s;
}

.SearchBar__Icon {
    color: white;
    align-self: center;
}

.SearchBar__Input {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
    transition: outline 0.5s;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}