.PlaylistItem {
    width: 280px;
    height: 48px;
    display: grid;
    grid-template-columns: 1fr 48px;
    align-items: center;
    background-color: #121212;
    border-color: 1px solid black;
    border-radius: 2px;
    font-family: 'Montserrat';
}

.PlaylistItem:hover {
    cursor: pointer;
}

.PlaylistItem__Title {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    text-overflow: ellipsis;
    margin: 0 12px;
    text-align: left;
    color: white;
}

.PlaylistItem__TrackCountContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.PlaylistItem__TrackCountContainer__TrackCount{
    font-weight: 600;
}