.CustomChart {
    width: 500px;
    height: 400px;
}

.CustomChart__Title {
    color: white;
}

.CustomChart__Canvas {
    background-color: white;
    padding: 8px;
}

@media screen and (max-width: 600px) {
    .CustomChart {
        width: 95%;
    }
}