.CustomChart {
    width: 66%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CustomChart__Title {
    color: white;
}

.CustomChart__Canvas {
    background-color: white;
    padding: 8px;
}

@media screen and (max-width: 600px) {
    .CustomChart {
        width: 95%;
    }
}