.track {
  display:flex;
  align-items: center;
  width: 300px;
  height: 80px;
  padding: 0.2em;
  margin: 0.5em 1.0em;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.19);
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}
  
.album-image {
  width: 80px;
  height: 80px;
  margin: auto 0;
  flex-shrink: 0;
}
  
.track-details {
  display: inline;
  margin: auto 0;
  margin-left: 0.5em;
}

.title {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.artist-album {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0.8em;
}