.track {
  display:flex;
  flex: 0 45%;
  padding: 0.5em;
  margin: 0.5em 1.0em;
  background-color: white;
  border: 1px solid black;
}
  
.album-image {
  max-width: 3em;
  max-height: 3em;
}
  
.track-details {
  display:inline;
  flex-grow: 4;
  margin-left: 0.5em;
}

.title {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.artist-album {
  margin: 0;
  padding: 0;
  text-align: left;
}