.Selector {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.Selector__Option {
    height: 250px;
    width: 250px;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    background-color: white;
}

.Selector__Option:hover {
    cursor: pointer;
}