.TrackItem {
    width: 270px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 80px;
    align-items: center;
    background-color: var(--color-background-secondary);
    border-radius: 2px;
    border: 1px solid black;
    transition: border 0.7s;
    position: relative;
}

.TrackItem:hover {
    border: 1px solid var(--color-secondary);
    cursor: pointer;
    transition: border 0.3s;
}

.TrackItem__Rank {
    width: 16px;
    padding: 2px;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-secondary);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: #000000;
}

.TrackItem__Details {
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    margin: 0 8px;
}

.TrackItem__Details__Name, .TrackItem__Details__Artist {
    color: var(--color-secondary);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.TrackItem__Details__Name {
    font-size: 16px;
}

.TrackItem__Details__Artist {
    font-size: 12px;
}

.TrackItem__Image {
    height: 80px;
    width: 80px;
    object-fit: cover;
    justify-self: end;
}