:root {
    --primary-color: #FFFFFF;
    --primary-bg: #121212;
}

.TrackItem {
    width: 270px;
    height: 80px;
    display: grid;
    grid-template-columns: 12px 1fr 80px;
    align-items: center;
    background-color: var(--primary-bg);
    border-radius: 2px;
    border: 1px solid black;
    transition: border 0.7s;
}

.TrackItem--Link:hover {
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: border 0.7s;
}

.TrackItem__Rank {
    justify-self: center;
    align-self: start;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.TrackItem__Details {
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    margin: 0 8px;
}

.TrackItem__Details__Name, .TrackItem__Details__Artist {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.TrackItem__Details__Name {
    color: var(--primary-color);
    font-size: 16px;
}

.TrackItem__Details__Artist {
    color: var(--primary-color);
    font-size: 12px;
    align-self: flex-start;
}

.TrackItem__Image {
    height: 80px;
    width: 80px;
    object-fit: cover;
    justify-self: end;
}