.Controls {
    display: flex;
    justify-content: center;    
    width: 100%;
    padding: 8px 0;
}

.Controls__Container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    padding: 0px 4px;
    color: white;
    font-weight: 500;
}

.Controls__Container__Label {
    font-size: 14px;
}

.Controls__Container__TypeSelect,
.Controls__Container__TimeRangeSelect,
.Controls__Container__LimitInput {
    padding: 4px;
    background-color: var(--color-background-secondary);
    border: 1px solid #121212;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.Controls__Container__LimitInput::-webkit-outer-spin-button, 
.Controls__Container__LimitInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.Controls__Container__LimitInput[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    size: 2;
}