.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Login__AuthorizeContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-secondary);
    padding: 32px;
    width: 100%;
}

.Login__Logo {
    font-size: 48px;
    color: white;
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
}

.Login__Text {
    color: white;
    font-size: 16px;
    padding: 10px;
    text-justify: inter-word;
}

.Login__AuthButton {
    background-color: green;
    border: 1px solid var(--color-background-secondary);
    border-radius: 2px;
    padding: 12px 14px;
    color: white;
    width: 150px;
    margin: 20px;
    font-size: 20px;
    font-weight: light;
}

.Login__AuthButton:hover {
    cursor: pointer;
}

.Login__SpotifyLogo {
    max-width: auto;
    height:70px;
    padding: 35px;
    object-fit: contain;
}